:root {
  --ifm-color-primary: #03045e;
  --ifm-color-primary-dark: #030455;
  --ifm-color-primary-darker: #030350;
  --ifm-color-primary-darkest: #020342;
  --ifm-color-primary-light: #030467;
  --ifm-color-primary-lighter: #03056c;
  --ifm-color-primary-lightest: #04057a;
}

[data-theme='dark'] {
  --ifm-color-primary: #90e0ef;
  --ifm-color-primary-dark: #6fd7ea;
  --ifm-color-primary-darker: #5ed2e8;
  --ifm-color-primary-darkest: #2cc4e1;
  --ifm-color-primary-light: #b1e9f4;
  --ifm-color-primary-lighter: #c2eef6;
  --ifm-color-primary-lightest: #f4fcfd;
  --ifm-footer-background-color: #393b4c;
  --ifm-navbar-background-color: #393b4c;
}

html[data-theme='dark'] .main-wrapper {
  background-color: #2b2d3a;
}